body,
html {
  /* height:100%; */
  display: grid;
  grid-template-rows: 3fr 50% 25%;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  background-color: blanchedalmond;
  margin: 0px;
  padding: 0px;
}

img {
  height: 70px;
  width: auto;
}

header {
  grid-area: header;
  text-align: center;

}

main {
  grid-area: main;

}

footer {
  grid-area: footer;
}